<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css" >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Home Page</title>
</head>
<body>
        <div class="index-page-container">
            <h4> Java Test Task</h4>
            <span>
                 <a href="/login" class="btn btn-info" role="button">Login</a>
            </span>
            <span>
                 <a href="/registrationPage" class="btn btn-info" role="button">Register</a>
            </span>
        </div>
</body>
</html>